/*
    Portfolio stylesheet.

    Date: 10/06/2023
*/

:root {
    background-color: hsl(200, 7%, 8%);
    color: hsl(230, 100%, 100%);
}

body {
    font-family: 'Open Sans', sans-serif;

    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -250px;
}

#contact, a:link, a:visited {
    font-size: 2rem;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: hsl(230, 30%, 50%);
}

